    .jumbotron {
    width: 100%;
    height: auto;
    background-color: #123f77;
    color: white;
    font-family: "Poppins";
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    text-align: center;
}

#teams {
    font-size: 6em;
}

#logo {
    float: left;
    width: 10rem;
    height: auto;
}

iframe {
    margin-top: 0px;
    width: 1420px;
    height: 787.5px;
}

body {
    background-color: #8D99AE;
    font-family: "Poppins";
    text-align: center;        
}
#weatherman{
    margin : 4%;
}